APP_NAME="Test mail"
APP_ENV=local
APP_KEY=base64:MNQ8hTknALMFwDXFkSWsVC4e2THk3A01Rga/qfRfNOs=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=cit_laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

#MAIL_DRIVER=smtp
#MAIL_HOST=smtp.gmail.com
#MAIL_PORT=465
#MAIL_USERNAME=aa91898@gmail.com
#MAIL_PASSWORD=tlgzsrbqonkpbdyl
#MAIL_ENCRYPTION=ssl
#MAIL_FROM_ADDRESS=web_1904@gmail.com
#MAIL_FROM_NAME="${APP_NAME}"

MAIL_DRIVER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=aa91898@gmail.com
MAIL_PASSWORD=tlgzsrbqonkpbdyl
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=test@gmail.com
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"


STRIPE_KEY=pk_test_iUySztCbSknp85EpGO0329Ew00XP0WCl6f
STRIPE_SECRET=sk_test_imul0jOBtLHpSJydGMakJd9i00rnRjLHdU

PAYPAL_CLIENT_ID=Ac5V9hPr61dvVQtIJFVajfjdCN56GwoyrrpFX51egFc5HVTZxpaRRBZpntNPHu5LVS3UsEITB6jZKPSU
PAYPAL_SECRET=EC44mZ4Im3ZdbSG06MTMxZ5xpX9lr1kfiXJYJ0by6Fj7B426sRZi105T5tX1jSMFJ4r83f9Mms7duzCL
PAYPAL_MODE=sandbox

GITHUB_CLIENT_ID =df2a1a9e83e5ba49
GITHUB_CLIENT_SECRET =5edaa2437a8da48b7e5608bf95f5c8feaf8e8318

GOOGLE_CLIENT_ID =1026463899008-8ri7sdjhi5dq4gvlvt6hukdcua0h54e1.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET =UoC_3oqpd0ww9m3sreTVE-ic

FACEBOOK_CLIENT_ID=786878265172592
FACEBOOK_CLIENT_SECRET=2f0fb2730fda4c68b91c077f5dc74c65
